/**************************FOOTER CSS******************************/
footer {
  background-color: white;
  color: black
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}