/**************************GENERIC CSS******************************/
*{
  margin: 0
  padding: 0
  box-sizing: border-box
}

body {
  font-family: sans-serif
  min-height: 100vh;
  background-color: black;
  color: white;
}

/**************************HEADER CSS******************************/
header {
  background-color: white;
  display: flex;
}

header #logo {
  height: 4em;
  margin: 0.5rem 5rem 0.5rem 5rem;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

header nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

header nav a:hover {
 color: darkblue;
}

/**************************MAIN CSS******************************/
main {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

/**************************FOOTER CSS******************************/
footer {
  background-image: /img/footer-bg.png;
  background-color: white;
  color: black
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}