/**************************GENERIC CSS******************************/
*{
  margin: 0
  padding: 0
  box-sizing: border-box
}

body {
  font-family: sans-serif
  min-height: 100vh;
  background-color: black;
  color: white;
}